In [55]:
import sqlalchemy as db
import pandas as pd

from sklearn.feature_extraction.text import TfidfVectorizer
from sklearn.pipeline import FeatureUnion
from sklearn.decomposition import TruncatedSVD
from collections import Counter
from sklearn_pandas import DataFrameMapper

In [56]:
engine = db.create_engine(f'postgresql://bogdanivanyuk:bogdanivanyuk@localhost:5431/flats_data')
connection = engine.connect()
metadata = db.MetaData()
flat_info = db.Table('flat_info', metadata, autoload=True, autoload_with=engine)
announcement_info = db.Table('announcement_info', metadata, autoload=True, autoload_with=engine)

In [57]:
#Equivalent to 'SELECT * FROM census'
query_flat_info = connection.execute(db.select([flat_info]))
df_flat_info = pd.DataFrame(query_flat_info)
df_flat_info.columns = query_flat_info.keys()

query_announcement_info = connection.execute(db.select([announcement_info]))
df_announcement_info = pd.DataFrame(query_announcement_info)
df_announcement_info.columns = query_announcement_info.keys()

data = pd.merge(df_announcement_info, df_flat_info, on='flat_id')
data.fillna(0)
data = data.drop(['page_url', 'image_urls', 'verified', 'title', 'street_name'], axis = 1)

data.head(4)

,flat_id,price_uah,price_usd,description,type_of_proposal,date_created,city_name,total_area,living_area,kitchen_area,floor,total_number_of_floors,number_of_rooms,year_of_construction,heating_type,walls_type,latitude,longitude
0,0,2035623,80000,"Продаю собственную квартиру, без комиссии АН! ...",от собственника,2019-05-23 23:14:10,Винница,95.1,51.6,21.2,7,12,3,Сдача в 2017,индивидуальное,кирпич,0.000000,0.000000
1,1,966921,38000,ОЧЕНЬ СРОЧНО!!!!Продаётся 3- км квартира в хор...,от посредника,2019-08-13 17:33:39,Винница,63.0,40.0,8.0,5,9,3,,централизованное,панель,0.000000,0.000000
2,2,954198,37500,"Без посредников, соответственно без комиссии р...",от посредника,2019-07-15 00:55:03,Винница,38.0,18.0,9.0,1,5,1,2014,индивидуальное,кирпич,0.000000,0.000000
3,3,1781170,70000,"Просторная квартира студия, с ремонтом и мебелью",от представителя хозяина (без комиссионных),2019-04-20 16:19:47,Харьков,95.4,50.0,0.0,13,14,3,,индивидуальное,газоблок,50.013457,36.276238

In [58]:
from stop_words import get_stop_words
stop_words_russian = get_stop_words('russian')
stop_words_ukr = get_stop_words('ukrainian')
from pymystem3 import Mystem
mystem = Mystem() 
data['description'] = data['description'].apply(lambda x: ' '.join([t for t in mystem.lemmatize(x.lower()) if 
                                                                    (t not in stop_words_russian and t not in stop_words_ukr and t.isalpha() and len(t) > 2)]))

In [59]:
#Counter(" ".join(data["description"]).split()).most_common()

In [71]:
from joblib import dump

tfidf = TfidfVectorizer(binary=True, ngram_range=(1,2))
x = tfidf.fit_transform(data.description)
dump(tfidf, 'text_representation_tfidf.joblib')
svd = TruncatedSVD(n_components=100)
x = svd.fit_transform(x)
dump(svd, 'text_representation_svd.joblib')

['text_representation_svd.joblib']

In [69]:
svd_data = pd.DataFrame(x)
svd_data.head()

,0,1,2,3,4,5,6,7,8,9,...,90,91,92,93,94,95,96,97,98,99
0,0.015273,0.076662,-0.005990,0.012790,0.033364,-0.015241,-0.016862,0.001577,-0.023056,0.023156,...,0.001223,0.002164,0.011206,-0.008212,-0.000667,-0.002295,0.008869,-0.000443,0.005446,0.003485
1,0.011957,0.102536,-0.016965,-0.009630,0.042769,-0.021985,-0.033329,-0.013423,-0.077292,-0.067451,...,-0.019428,0.019868,0.010908,-0.013055,0.025709,-0.008984,0.023778,0.034781,-0.011154,-0.023538
2,0.014900,0.073303,-0.015645,-0.007510,0.033391,-0.016059,-0.015724,0.006316,-0.021931,-0.005999,...,0.001917,-0.027118,0.011651,-0.026662,0.000656,0.029590,0.011566,0.010155,0.010852,-0.001117
3,0.006693,0.082498,-0.035039,-0.010426,0.027911,-0.018841,-0.026259,0.008467,-0.042547,-0.022996,...,-0.000513,0.036186,0.002974,0.023613,0.046287,-0.025747,-0.054654,-0.026939,-0.027613,0.036897
4,0.041010,0.100866,-0.024417,-0.012591,0.027918,-0.013863,-0.023659,0.008214,-0.056798,0.013229,...,-0.019348,0.038844,0.021036,0.019559,0.013792,-0.002765,0.006048,0.000874,-0.010040,0.040705

In [60]:
#from joblib import dump
#dump(mapper_df, 'text_representation.joblib')

In [61]:
#from joblib import load
#mapper_df = load('text_representation.joblib')

In [ ]:
mapper_df.fit_transform(d)

In [63]:
data_new = pd.concat([data, svdFit], axis=1)
data_new.head()

,flat_id,price_uah,price_usd,description,type_of_proposal,date_created,city_name,total_area,living_area,kitchen_area,...,description_90,description_91,description_92,description_93,description_94,description_95,description_96,description_97,description_98,description_99
0,0,2035623,80000,продавать собственный квартира комиссия новый ...,от собственника,2019-05-23 23:14:10,Винница,95.1,51.6,21.2,...,0.012031,-0.009409,-0.006343,0.008225,-0.005512,0.005150,0.005546,-0.019314,0.000874,-0.000062
1,1,966921,38000,срочно продаваться квартира хороший район окно...,от посредника,2019-08-13 17:33:39,Винница,63.0,40.0,8.0,...,0.034008,0.015410,0.019721,-0.003437,0.011245,-0.006903,-0.011568,0.032627,-0.040062,0.008112
2,2,954198,37500,посредник соответственно комиссия риелторский ...,от посредника,2019-07-15 00:55:03,Винница,38.0,18.0,9.0,...,-0.017957,0.016881,0.012754,-0.006228,-0.021327,-0.016517,-0.011591,-0.005021,-0.000049,-0.013396
3,3,1781170,70000,просторный квартира студия ремонт мебель,от представителя хозяина (без комиссионных),2019-04-20 16:19:47,Харьков,95.4,50.0,0.0,...,0.029828,-0.004224,0.007551,0.019958,0.039048,-0.019257,-0.018601,-0.024766,0.035332,0.014549
4,4,699745,27500,срочный продажа хороший вид окно лоджия большо...,от представителя хозяина (без комиссионных),2019-07-25 16:26:49,Винница,77.0,40.0,14.0,...,0.027589,0.046659,-0.032553,0.048308,0.046153,-0.010981,0.028753,0.071925,-0.005221,0.015902

In [14]:
data.head()

,flat_id,price_uah,price_usd,description,type_of_proposal,date_created,city_name,total_area,living_area,kitchen_area,floor,total_number_of_floors,number_of_rooms,year_of_construction,heating_type,walls_type,latitude,longitude
0,0,2035623,80000,"[0.01527274510699664, 0.07666192507236161, -0....",от собственника,2019-05-23 23:14:10,Винница,95.1,51.6,21.2,7,12,3,Сдача в 2017,индивидуальное,кирпич,0.000000,0.000000
1,1,966921,38000,"[0.011956966436690563, 0.1025357274783879, -0....",от посредника,2019-08-13 17:33:39,Винница,63.0,40.0,8.0,5,9,3,,централизованное,панель,0.000000,0.000000
2,2,954198,37500,"[0.01489972510151717, 0.0733030881421466, -0.0...",от посредника,2019-07-15 00:55:03,Винница,38.0,18.0,9.0,1,5,1,2014,индивидуальное,кирпич,0.000000,0.000000
3,3,1781170,70000,"[0.006693418995661885, 0.08249787198799703, -0...",от представителя хозяина (без комиссионных),2019-04-20 16:19:47,Харьков,95.4,50.0,0.0,13,14,3,,индивидуальное,газоблок,50.013457,36.276238
4,4,699745,27500,"[0.041010301263244474, 0.10086613549315815, -0...",от представителя хозяина (без комиссионных),2019-07-25 16:26:49,Винница,77.0,40.0,14.0,3,5,2,Сдача в 2019,без отопления,кирпич,0.000000,0.000000

In [51]:
data_new.to_csv('nlp.csv', index=False)